<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="am2.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@drawable/am1_project_icon_50x50"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActv"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActvityActv"></activity>
        <activity android:name=".RegisterGroupActv"></activity>
        <activity android:name=".RegisterGenreActv"></activity>
        <activity android:name=".ShowActivityActv"></activity>
        <activity android:name=".MemoActv"></activity>
        
    </application>

</manifest>